<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Kacper Chmielewski, landing page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,500,700" rel="stylesheet">
    <style>
      body {
        font-family: 'Rubik', -apple-system, BlinkMacSystemFont, 'Segoe UI',
          Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
          sans-serif;
          font-size: calc(10px + 0.33vw);
          -webkit-font-smoothing: antialiased;
          padding: 5vh 10vw;
          color: #121314;
        }
        h1 {
          font-size: 4.5em;
          font-weight: 500;
          margin-bottom: 0;
        }
        p {
          font-size: 1.6em;
          font-weight: 300;
          line-height: 1.4;
          max-width: 28em;
        }
        a {
          text-decoration: none;
          white-space: nowrap;
          color: black !important;
          position: relative;
        }
        a:after {
          content: '';
          position: absolute;
          z-index: -1;
          top: 66%;
          left: -0.1em;
          right: -0.1em;
          bottom: 0;
          transition: top 200ms cubic-bezier(0, 0.8, 0.13, 1);
          background-color: rgba(79, 192, 141, 0.5);
        }
        a:hover:after {
          top: 0%;
        }
      </style>
    </head>
  </html>

  <body>
    <h1>Cześć.
       [<i>en: Hello.</i>].
    </h1>
    <p style="font-weight: 500; font-size: 2.2em">My name is Kacper Chmielewski.</p>
    <p>
      Originally from Poland, I belong to the 'wind of change' generation.
      My place is where my family is. I live in Belgium.
    </p>
    <p>
      My entire professional career I worked building teams and projects.
      I offer over 15 years of experience in Public Affairs, project management, negotiations and communication.
      I served the public sector and competed in business roles. Most recently I acquired web developer skills.
      I am inspired by agile management environment.
    </p>
    <p>
      My roles, so far, mostly required back-office services but I am accustomed to public speaking and events.
      You can link with me on <a href="https://twitter.com/Kacper_inBxl" target="_blank">Twitter</a>
      or <a href="https://www.linkedin.com/in/kacper-chmielewski-brussels/" target="_blank">LinkedIn</a>.
    </p>
    <p>
      I read books, newspapers and mails regularly: <a href="mailto://kacper.brussels@gmail.com">kacper.brussels@gmail.com</a>
    </p>
    <p>
      I enjoy sports a lot. I cycle, swim, ski and more. I finished two IronMan races. But above all, I enjoy achieving my family goals
      and learning from my kids...
    </p>
  </body>
</html>
