<h1>Cześć.*</h1>
<p style="font-weight: 500; font-size: 2.2em">My name is Kacper Chmielewski.</p>
<p>
  Originally from Poland, I belong to the 'wind of change' generation.
  My place is where my family is. I live in Belgium.
</p>
<p>
  I enjoy living in the EU and cheer on its many achievements. During 15 years of my career I build teams, projects,
  served public sector and competed in business roles. My experience include Public Affairs, project management, negotiations and communication.
  Most recently I acquired web development skills. I am inspired by agile practices.
</p>
<p>
  My jobs, so far, mostly required back-office services, but I also feel comfortable in public speaking and events roles.
  You can link with me on
  <a href="https://twitter.com/Kacper_inBxl" target="_blank">Twitter</a>,
  <a href="https://www.linkedin.com/in/kacper-chmielewski-brussels/" target="_blank">LinkedIn</a> or
  <a href="https://github.com/HiKacper" target="_blank">GitHub</a>.
</p>
<p>
  I read books, newspapers and mails regularly: <a href="mailto://kacper.brussels@gmail.com">kacper.brussels@gmail.com</a>
</p>
<p>
  I enjoy sports a lot. I cycle, swim, ski and more. I finished two IronMan races. But above all, I enjoy achieving my family goals
  and learning from my kids...
</p>
<p>
  <small>
    * Cześć [<i>tche-sh-ch</i>] en: Hello</p>
  </small>
